.authInput {
  border-radius: 5px;
  height: 40px;
  width: 100%;
  border: 1px solid lightgrey;
  background: white;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.authInput:focus {
  border-color: var(--color);
  outline: none;
}

.authInput:hover {
  background-color: rgb(250, 250, 250);
}

.authInput[type='submit'] {
  background: var(--color);
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  border: none;
}