.navbar_button {
  border: none;
  border-radius: 5px;
  padding: 4px 10px;
  background-color: var(--color);
  font-size: .9rem;
  font-weight: bold;
  color: white;
}

.navbar_button:hover {
  background-color: rgba(0,0,0,.1);
}