*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color: rgb(255, 50, 50);
  --color-secondary: rgb(255, 230, 230);
}

.noBar::-webkit-scrollbar {
  display: none;
}